<!doctype html>
<html lang="en">
<head>
  <title>Мероприятия</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div ng-app="app" ng-strict-di ng-cloak>
  <div ng-include="'src/main.html'"></div>
</div>
</body>
</html>
